/* You can add global styles to this file, and also import other style files */
* {
  color-scheme: dark;
}
body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inline {
  display: inline;
}
.flex {
  display: flex;
}

.gap-1 {
  gap: 0.25rem /* 4px */;
}
.gap-2 {
  gap: 0.5rem /* 8px */;
}
